<div class="center-wide">
    <h3>Search</h3>

    <div class="div-inline">
        <div class="form-group">

            <div>
                <div class="form-group">
                    <div>
                        <label>
                            Search by IP
                            <!-- [{{input_searchByIP}}]  -->
                        </label>
                    </div>
                    <div>
                        <div class="d-inline-block searchFormIPMAC">

                            <input type="text" class="form-control inputSearchIPMAC" maxlength="15"
                                placeholder="0.0.0.0" (input)="searchByIPInput($event)" />

                        </div>

                        <div class="float-right">
                            <button class="btn btn-primary">Search</button>
                        </div>
                    </div>

                </div>
            
                <div class="form-group">
                    <div>
                        <label>
                            Search by MAC
                            <!-- [{{ inputToSearchByMAC }}] -->
                        </label>
                    </div>
                    <div class="d-inline-block searchFormIPMAC">
                        <input type="text" class="form-control inputSearchIPMAC" maxlength="17"
                            placeholder="00:00:00:00:00:00" (input)="searchByMACInput($event)" />
                    </div>
                    <div class="float-right">
                        <button class="btn btn-primary" >Search</button>
                    </div>

                </div>
            </div>
            

        </div>

    </div>


    <!-- <h3>Filter</h3> -->


    <div class="div-button text-right">

        <!-- <button  class="btn btn-primary">Filter</button> -->

        <!-- <button class="btn btn-primary" (click)="clearAllFields()">Clear all fields</button> -->
        
    </div>
</div>

<div class="center-wide">
    <h3>Results found</h3>
    <div>


        <table class="generalTable">
            <tbody>
                <tr>
                    <th>Model</th>
                    <th>MACs found</th>
                    <th>List</th>
                </tr>
                <tr>
                    <td>*model*</td>
                    <td>*MACs*</td>
                    <td>
                        <button class="btn btn-primary right btn-fit" (click)="showDevicesList()">Show</button>
                    </td>
                </tr>

            </tbody>

        </table>

    </div>
</div>