<div class="center-wide">
    <h3>Search</h3>

    <div class="div-inline">
        <div class="form-group">

            <div>
                <div class="form-group">
                    <div>
                        <label>
                            Search by IP
                            <!-- [{{input_searchByIP}}]  -->
                        </label>
                    </div>
                    <div>
                        <div class="d-inline-block searchFormIPMAC">

                            <input type="text" class="form-control inputSearchIPMAC" maxlength="15"
                                placeholder="0.0.0.0" (input)="searchByIPInput($event)" />

                        </div>

                        <div class="float-right">
                            <button class="btn btn-primary" (click)="searchByIP()">Search</button>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <div>
                        <label>
                            Search by MAC
                            <!-- [{{ inputToSearchByMAC }}] -->
                        </label>
                    </div>
                    <div class="d-inline-block searchFormIPMAC">
                        <input type="text" class="form-control inputSearchIPMAC" maxlength="17"
                            placeholder="00:00:00:00:00:00" (input)="searchByMACInput($event)" />
                    </div>
                    <div class="float-right">
                        <button class="btn btn-primary" (click)="searchByMAC()">Search</button>
                    </div>

                </div>
            </div>


        </div>

    </div>


    <h3>Filter</h3>


    <div class="div-inline">
        <div class="form-group">

            <div>
                <div class="form-group">
                    <div>
                        <label>
                            DROP ≥
                            <!-- [{{input_searchByIP}}]  -->
                        </label>
                    </div>
                    <div>
                        <div class="d-inline-block w-100">

                            <input type="text" class="form-control" (input)="SearchFilterDROP($event)" />

                        </div>


                    </div>

                </div>

                <div class="form-group">
                    <div>
                        <label>CRC ≥</label>
                    </div>
                    <div class="d-inline-block w-100">
                        <input type="text" class="form-control" (input)="SearchFilterCRC($event)" />
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <label>Fragments ≥</label>
                    </div>
                    <div class="d-inline-block w-100">
                        <input type="text" class="form-control" (input)="SearchFilterFragments($event)" />
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <label>Link down ≥</label>
                    </div>
                    <div class="d-inline-block w-100">
                        <input type="text" class="form-control" (input)="SearchFilterLinkDown($event)" />
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <label>64bytes ≥</label>
                    </div>
                    <div class="d-inline-block w-100">
                        <input type="text" class="form-control" (input)="SearchFilter64bytes($event)" />
                    </div>
                </div>



                <div class="form-group">
                    <div>
                        <label>Device model</label>
                    </div>
                    <div class="d-inline-block w-100">
                        <input type="text" class="form-control" (input)="SearchFilterDeviceModel($event)" />
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <label>Device software</label>
                    </div>
                    <div class="d-inline-block w-100">
                        <input type="text" class="form-control" (input)="SearchFilterDeviceSoftware($event)" />
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <label>Serial number</label>
                    </div>
                    <div class="d-inline-block w-100">
                        <input type="text" class="form-control" (input)="SearchFilterSerialNumber($event)" />
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <label>Less from this day</label>
                    </div>
                    <div class="d-inline-block w-100">
                        <input type="text" class="form-control" (input)="SearchFilterLFTD($event)"
                            placeholder="YYYY-MM-DD" />
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <label>More from this day</label>
                    </div>
                    <div class="d-inline-block w-100">
                        <input type="text" class="form-control" (input)="SearchFilterMFTD($event)"
                            placeholder="YYYY-MM-DD" />
                    </div>
                </div>

                <!-- <div>
                    <input [matDatepicker]="myDatepicker">
                    <mat-datepicker #myDatepicker></mat-datepicker>
                </div> -->
                <div>

                </div>

            </div>


        </div>

    </div>


    <div class="div-button text-right">

        <!-- <button  class="btn btn-primary">Filter</button> -->

        <!-- <button class="btn btn-primary" (click)="clearAllFields()">Clear all fields</button> -->

    </div>
</div>

<div *ngIf="areResultsFound" class="center-wide">
    <h3>Results found</h3>
    <div>


        <table class="generalTable">
            <tbody>
                <tr>
                    <th>Model</th>
                    <th>MACs found</th>
                    <th>List</th>
                </tr>
                <tr>
                    <td>*model*</td>
                    <td>*MACs*</td>
                    <td>
                        <button class="btn btn-primary right btn-fit" (click)="showDevicesList()">Show</button>
                    </td>
                </tr>

            </tbody>

        </table>

    </div>
</div>