<div class="center-wide">
    <div class="mat-exp-panel">


        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Search devices
                </mat-panel-title>
                <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field appearance="fill" class="widthauto ip-mac-search">
                <mat-label>IP</mat-label>
                <input matInput maxlength="15" placeholder="0.0.0.0" (input)="searchByIPInput($event)">
                <button mat-icon-button matSuffix (click)="searchByIP()">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>


            <mat-form-field appearance="fill" class="widthauto ip-mac-search">
                <mat-label>MAC</mat-label>
                <input matInput maxlength="17" placeholder="00:00:00:00:00:00" (input)="searchByMACInput($event)">
                <button mat-icon-button matSuffix (click)="searchByMAC()">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>

            <!-- <button (click)="searchByMACInput('all')" mat-button color="primary" class="widthauto ip-mac-search-filter">
                Show all devices
            </button> -->

        </mat-expansion-panel>
    </div>

    <div class="mat-exp-panel">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Filters for search
                </mat-panel-title>
                <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <!-- place for filter inputs -->
            <mat-form-field appearance="fill" class="widthauto ip-mac-search-filter">
                <mat-label>DROP ≥</mat-label>
                <input matInput (input)="SearchFilterDROP($event)">
            </mat-form-field>

            <mat-form-field appearance="fill" class="widthauto ip-mac-search-filter">
                <mat-label>CRC ≥</mat-label>
                <input matInput (input)="SearchFilterCRC($event)">
            </mat-form-field>

            <mat-form-field appearance="fill" class="widthauto ip-mac-search-filter">
                <mat-label>Fragments ≥</mat-label>
                <input matInput (input)="SearchFilterFragments($event)">
            </mat-form-field>

            <mat-form-field appearance="fill" class="widthauto ip-mac-search-filter">
                <mat-label>Link down ≥</mat-label>
                <input matInput (input)="SearchFilterLinkDown($event)">
            </mat-form-field>

            <mat-form-field appearance="fill" class="widthauto ip-mac-search-filter">
                <mat-label>64bytes ≥</mat-label>
                <input matInput (input)="SearchFilter64bytes($event)">
            </mat-form-field>

            <mat-form-field appearance="fill" class="widthauto ip-mac-search-filter">
                <mat-label>Device model</mat-label>
                <input matInput (input)="SearchFilterDeviceModel($event)">
            </mat-form-field>

            <mat-form-field appearance="fill" class="widthauto ip-mac-search-filter">
                <mat-label>Device software</mat-label>
                <input matInput (input)="SearchFilterDeviceSoftware($event)">
            </mat-form-field>

            <mat-form-field appearance="fill" class="widthauto ip-mac-search-filter">
                <mat-label>Serial number</mat-label>
                <input matInput (input)="SearchFilterSerialNumber($event)">
            </mat-form-field>

            <mat-form-field appearance="fill" class="widthauto ip-mac-search-filter">
                <mat-label>Less from this day</mat-label>
                <input matInput (input)="SearchFilterLFTD($event)" placeholder="YYYY-MM-DD">
            </mat-form-field>

            <mat-form-field appearance="fill" class="widthauto ip-mac-search-filter">
                <mat-label>More from this day</mat-label>
                <input matInput (input)="SearchFilterMFTD($event)" placeholder="YYYY-MM-DD">
            </mat-form-field>

            <mat-form-field appearance="fill" class="widthauto ip-mac-search-filter">
                <mat-label>Less from this day</mat-label>
                <input matInput [matDatepicker]="pickerLFTD" (input)="SearchFilterLFTD($event)"
                    placeholder="YYYY-MM-DD">
                <mat-datepicker-toggle matSuffix [for]="pickerLFTD"></mat-datepicker-toggle>
                <mat-datepicker touchUi #pickerLFTD></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill" class="widthauto ip-mac-search-filter">
                <mat-label>Less from this day</mat-label>
                <input matInput [matDatepicker]="pickerMFTD" (input)="SearchFilterLFTD($event)"
                    placeholder="YYYY-MM-DD">
                <mat-datepicker-toggle matSuffix [for]="pickerMFTD"></mat-datepicker-toggle>
                <mat-datepicker touchUi #pickerMFTD></mat-datepicker>
            </mat-form-field>


        </mat-expansion-panel>
    </div>


    <div class="mat-exp-panel">
        <mat-expansion-panel *ngIf="areResultsFound" [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Search results
                </mat-panel-title>
                <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>

            <table mat-table [dataSource]="tableDataToShow">
                ...

                <!-- Model Column -->
                <ng-container matColumnDef="Model">
                    <mat-header-cell *matHeaderCellDef> Model </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.Model}} </mat-cell>
                </ng-container>

                <!-- number of devices Column -->
                <ng-container matColumnDef="IPs">
                    <mat-header-cell *matHeaderCellDef> Results found </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <a>
                            <button (click)="showDevicesList(element.Model)" mat-button color="primary">
                                Show ({{element.IPs}})
                            </button>
                        </a>
                    </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </table>
        </mat-expansion-panel>
    </div>