<div class="center-wide">

    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                General info
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
        </mat-expansion-panel-header>

        <table mat-table [dataSource]="generalTableDataToShow" class="generalTable">
            ...

            <!-- first Column -->
            <ng-container matColumnDef="name" class="w150px">
                <!-- <mat-header-cell *matHeaderCellDef> Model </mat-header-cell> -->
                <mat-cell *matCellDef="let element" class="w150px"> {{element.name}} </mat-cell>
            </ng-container>

            <!-- second Column -->
            <ng-container matColumnDef="data" class="widthauto">
                <!-- <mat-header-cell *matHeaderCellDef> IPs found </mat-header-cell> -->
                <mat-cell *matCellDef="let element"> {{element.data}} </mat-cell>
            </ng-container>


            <!-- <mat-header-row *matHeaderRowDef="displayedColumnsGeneralInfo"></mat-header-row> -->
            <mat-row *matRowDef="let row; columns: displayedColumnsGeneralInfo;"></mat-row>

        </table>

    </mat-expansion-panel>

</div>