<div class="centerLogin">
    <!-- 
    <form> 
        <label>
            Username
        </label>
        <div>
            <input type="text">
           
            <span></span>
        </div>
        <div>
            <div>
                <label>
                    Password
                </label>
                <div >
                    <input type="password">
                    
                    <span ></span>
                </div>
            </div>
        </div>
        <div>
            <button>Login</button>
        </div>
    </form> -->



    
    <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"> -->
    <form  (ngSubmit)="logIn()">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" (input)="usernameInput($event)" (keyup.enter)="logIn()" #login formControlName="username" class="form-control" />
            <div class="invalid-feedback">
                <div>Username is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" (input)="passwordInput($event)" formControlName="password" class="form-control" />
            <div class="invalid-feedback">
                <div>Password is required</div>
            </div>
        </div>
        <div class="form-group">
        </div>
    </form>
    <div class="form-group text-right">
        <button (click)="logIn()" class="btn btn-primary ">
            <span *ngIf="loginProcess" class="spinner-border spinner-border-sm mr-1"></span>
            Login
        </button>
    </div>
</div>


<!-- <div class="center">
    <pre>
        {{receivedJSON}}
    </pre>
</div> -->