<div class="center">

    <form> 
        <label>
            Username
        </label>
        <div>
            <input type="text">
           
            <span></span>
        </div>
        <div>
            <div>
                <label>
                    Password
                </label>
                <div >
                    <input type="password">
                    
                    <span ></span>
                </div>
            </div>
        </div>
        <div>
            <button>Login</button>
        </div>
    </form>

</div>