
Angular/angular-hvqpxn/

# distributives
/install/
# node-v12.16.2-x64.msi
# node-v12.16.2-win-x64.zip
# cli-6.14.4.zip


from_D-Link/test_WEB/

# other Git repo for proxy
/proxy/cors-anywhere/

# temp doc files
~$*.doc*
~W*.tmp

# temp folder
temp/
