<div class="blue-dlink">
    
</div>
    


<mat-toolbar color="primary">
    <div *ngIf="!hideLogin" id="dlink-logo">
    </div>
    <div *ngIf="hideLogin" id="dlink-logo-left">
    </div>



    <div *ngIf="hideLogin">
        <span class="example-spacer"></span>
        <a (click)="refresh()" class="pointer">
             <mat-icon class="example-icon" aria-hidden="false" aria-label="exit_to_app">exit_to_app</mat-icon>
        </a>
           
        
        
    </div>
    
</mat-toolbar>
    
