#dlink-logo{
	background: transparent url(../../assets/logo_white.svg) no-repeat scroll center / auto 45px;
	height: inherit;
    width: 150px;
    margin: auto;
    -webkit-box-align:  center;
    position: center;
}

#dlink-logo-left{
	background: transparent url(../../assets/logo_white.svg) no-repeat scroll center / auto 45px;
	height: inherit;
    width: 150px;
    margin: 0 auto 0 0;
    -webkit-box-align:  center;
    position: center;
}

.top-bar{
    width: 100%;
    background-color: #0087A9;
    height: 70px;
    
}

.blue-dlink{
    width: 100%;
    background-color: #0087A9 !important;
    box-shadow: 
    0 2px 2px 0 rgba(0,0,0,0.14), 
    0 3px 1px -2px rgba(0,0,0,0.12), 
    0 1px 5px 0 rgba(0,0,0,0.2);

}

.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }