<div>
  <app-top-bar></app-top-bar>
</div>
<div *ngIf="!hideLogin">
  <app-login-form 
  (sendTokenEvent)="receiveToken($event)"
  (loadMainPageEvent)="receiveIsAuth($event)"
  (sendUsernameEvent)="receiveUsername($event)"
  [currentSLAURL]="currentSLAURL"
  [proxyURL]="proxyURL"
  ></app-login-form>

</div>
<div *ngIf="hideLogin">
  
    <div>
    <app-main-top 
    [isAuth]="isAuth"
    [currentToken]="currentToken"
    [currentSLAURL]="currentSLAURL"
    [proxyURL]="proxyURL"
    [curLogin]="curLogin">
      <div>
        <h6>
          current login: "{{ curLogin }}"
        </h6>
      </div>
    </app-main-top>
  </div>
  <div *ngIf="hideLogin">
    <app-search
    [isAuth]="isAuth"
    [currentToken]="currentToken"
    [currentSLAURL]="currentSLAURL"
    [proxyURL]="proxyURL">
    </app-search>
  </div>
  <div *ngIf="isDebugActive" >
    <div *ngIf="hideLogin" class="center-wide">
      <h3>
        [debug]
      </h3>
      <p>
        Is token received: "{{ isTokenReceived }}"
      </p>
  
      <p>
        Firmware data Received: "{{ isFirmwareDataReceived }}"
      </p>
    </div>
  </div>
  
</div>
<div>
  <app-footer></app-footer>
</div>